
.postCard-s{
    margin: 1rem;
    width: 35%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    cursor:cell;

  
   

    &:hover {
        transform: scale(1.05);


    }


}

.postCard_header-s{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 0px;
    justify-items: center;
    align-items: center;
    ;

}

.titleAnddate-s{
    width: 100%;
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
   justify-content: space-between;
    

}

.icon-s{
    width: 50px;
    height: 50px;

}

.date-s{
    
    font-size: 0.8rem;
    color: #21222e;
    
   
}

.title-s{
    display: flex;
    font-weight: 800;



}

.makeSomthing-s{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



.type-s{

    font-size: medium;
    justify-self: flex-start;
    margin-left: 30px;
    padding-top:2px;
   color: #4d4d4f;

}

.writter-s{

    font-size: smaller;
    justify-self: flex-start;
    margin-left: 30px;
    padding-top:8px;
   color: #979799;
   font-style: italic;

}



.mainHeaderAll-s{
    width: 100%;
    display: flex;

}


.discription-s{
    margin-top: 1px;
    font-size:15px;
    text-align: left;
}

@media only  screen and (min-width : 1700px){
    .discription-s{
        font-size: 1.04rem;
    }
    
}