.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  .AboutHeading{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .AboutHeadingDes{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }

  .MeetOurFoundersDes{
    margin-top: 20px;
  }
  .resetParaInAboutus{
    margin-top: 20px;
  }

  .aboutUSmissonpara{
    margin-top: 20px;
  }

  .aboutUSmissonDes{
    margin-bottom: 30px;
  }
  
  .intro,
  .mission,
  .founders,
  .impact,
  .call-to-action {
    margin-bottom: 30px;
  }
  

  
  /* styling for the founders section */
  .founders {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .founder-card {
    width: calc(30% - 20px); 
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
  }
  
  .founder-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .founder-details {
    padding: 15px;
  }
  
  .call-to-action {
    text-align: center;
    clear: both;
  }