.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: rgb(255, 249, 239);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }

  .MisssionHeadingText{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .MisssionHeadingTextDes{
    font-famil: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

.arjuans-stroy{

}
.instance-stroy-des{
  margin-top: 20px;
  font-size: large;
}
  

.missionImgPeople{
  margin-top: 20px;
  border-radius: 10px;
 
}
  .intro,
  .mission,
  .founders,
  .impact,
  .call-to-action {
    margin-bottom: 30px;
    width: 60%;
  }

  .person-story {
    /* Adjust width to leave space for the text */
    width: 30%;
  }

  .person-story img {
    /* Add styles for the person's image */
    width: 100%;
    height: auto;
    
  }
  

  
  /* styling for the founders section */
  .founders {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .founder-card {
    width: calc(30% - 20px); 
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
  }
  
  .founder-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .founder-details {
    padding: 15px;
  }
  
  .call-to-action {
    text-align: center;
    clear: both;
  }