.tablePaymentInfo{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-size: 18px;
    text-align: center;
}

.tableView{
    display: flex;
    justify-content: center;
}

.headatable{
    background-color: #3a3422;
    color: white;
    
}
.headingTitleIndividual{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500 ;
    
}
.dataRow{
    border: 1px solid #ddd;
    font-size: 0.9rem;
    color: #223a36;
    
}

.adminLogo{
    width: 22%;
    
}

.adminTitleTextDescription{
    font-size: 1rem;
    font-weight:400;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    

}

.adminTitleText{
    font-size: 1.3rem;
    font-weight:400;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.adminTitle{
    text-align: left;
   width: 60%;
    

}

.adminLogoandrest{
    display: flex;
    margin: 20px;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    
}

@media only screen and (min-width: 1700px) {
    .adminTitleTextDescription{
        font-size: 1.1rem;
    }
    .adminTitleText{
        font-size: 1.8rem;
    }
    .adminTitle{
        width: 50%;
    }
    .adminLogo{
        width: 18%;
    }
}