@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

.footer {
  position: relative;
  width: 100%; /* adjusted to 99vw for viewport width */
  background: #ffbf35;
  min-height: 27px;
  padding: 20px 0; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25px; 
}





.footer > * {
  width: 100%;
  box-sizing: border-box; /* Include padding and border in the width calculation */
}

.social-icon,

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #301010;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1rem;
  color: #211010;
  margin: 0 14px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
  font-weight: 600;
}

.footer__top{
  display: flex;
  width: 20%;
  flex-direction: row;
  justify-content: space-evenly;

}

.iconSocailMedia{
  
  color: #633804;

}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 1px 0 1px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -7px; 
  left: 0;
  width: 100%; 
  height: 27px; 
  background: url('../../Images/wave-blue1.png');
  background-size: 1000px 27px;
}


.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 5px; 
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 10px; 
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 15px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-position-x: 0px;
  }
}
.footerConatiner{
  display: flex;
  
  width: 100%;
}

