button{
    margin: 20px;
}

.customInput{
    width: 400px;
}

.loginLogo{
    width: 25%;
    margin:5px;
    transition: 1000ms;
}

.loginLogo:hover {
    filter: drop-shadow(0 0 2em #8489eeaa);
    transition: 1000ms;
      
}



.HeadLogin{

    font-family: 'Sedgwick Ave', Courier, monospace;
    font-size: 2.7rem;
    color: rgb(18, 54, 68);
}

p{
    margin-top: -25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: larger;
}

.secondsubtext{
    font-size: 1rem;
}

.verifytext{
    font-size: 1.5rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(10, 51, 82);
    opacity: 0.3;
}