.menu{
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    
}

.head_nav{
  
   display: flex;
   flex-direction: row;
   justify-content:space-between;
   align-items: center;
   border-bottom: 1px solid #876c0149;
   
}

button{
    margin: 0;
}

.signout{
    margin-right: 10px;
    background-color: #cf8d00;
   
}

.UserDisplay{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}