.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }

  .membercard{
    width: 25%;
    background-color: #ffffff;
    height: fit-content;
    border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   margin: 5px;
  
  }
  .TeamWhywetryHead{
    margin: 30px;
  }

  .memberName{
    padding: 0;
    margin: 0;
  }

  .teamClassMembersWhole{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .Cardcontext{
    padding: 10px;
    text-align: center;
  }

  .imgMemmber{
    width: 100%;
    border-radius: 10px;
  
  }
  
  .intro,
  .mission,
  .founders,
  .impact,
  .call-to-action {
    margin-bottom: 30px;
  }
  

  /* styling for the founders section */
  .founders {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .founder-card {
    width: calc(30% - 20px); 
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
  }
  
  .founder-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .founder-details {
    padding: 15px;
  }
  
  .call-to-action {
    text-align: center;
    clear: both;
  }

  .team-members {
    display: flex;
    justify-content: space-between;
  }
  
  .team-member {
    text-align: center;
  }